.principal{
    text-align: center;
    background-color: rgb(238, 209, 171);
}






































































































































































































































































































































































































































































































































































#position {
    display: -ms-inline-grid;
}
.positions {
    background-color: goldenrod;
    margin: 20px;
    padding: 20px;
    align-content: center;
    align-items: center;
}

.positionstitle {
    background-color: gold;
    text-align: center;
}

.Displaytitle {
    background-color: gold;
    text-align: center;
}

.Displays {
    background-color: goldenrod;
    margin: 20px;
    padding: 20px;
    align-content: center;
    align-items: center;
}
